.detailsLocation {
  margin: auto;
  height: 260px;
  width: 260px;
  text-decoration: none;
  border: solid 3px grey;
  margin-bottom: 25px;
  background-image: url("../../images/Selection_084.png");
  background-position: center;
  background-size: cover;
  background-color: black;
}
