.form {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__input {
    border: 2px solid #35b1c8;
    height: 28px;
    width: 150px;
    padding-left: 10px;
    font-size: 16px;
  }
  &__select {
    width: 150px;
    margin-top: 10px;
    padding-left: 15px;
    color: #35b1c8;
    font-size: 18px;
    border: 2px solid #35b1c8;
  }
}
