.header {
  background-image: url("https://www.enjpg.com/img/2020/rick-and-morty-8.png");
  background-size: cover;
  margin: 0px;
  width: 100vw;
  height: 200px;
  border-bottom: solid 3px#8beb78;
  &__title {
    font-size: 18px;
    text-align: center;
    font-family: "Indie Flower", cursive;
    padding-top: 125px;
    padding-left: 30px;
  }

  @media (min-width: 768px) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
}
