.list {
  &__ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding-left: 60px;
  }
  &__link {
    text-decoration: none;
    border: solid 3px #6aba68;
    height: 400px;
    width: 250px;
    margin-bottom: 25px;
    background-image: url("../images/Selection_075.png");
    background-position: bottom;
    background-size: contain;
    color: #35b1c8;
    line-height: 28px;
  }
  &__element {
    height: 320px;
    width: 250px;
  }
  &__fail {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }
}
.details {
  margin-left: 60px;
  text-decoration: none;
  border: solid 3px #6aba68;
  height: 430px;
  width: 250px;
  margin-bottom: 25px;
  background-image: url("../images/Selection_075.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  color: #35b1c8;
  line-height: 28px;
}
.arrowContainer {
  margin-top: 150px;
  text-align: end;
}

.arrowLink {
  margin-right: 65px;
  color: white;
}

@media (min-width: 768px) {
  .list {
    &__ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__fail {
      font-size: 24px;
      padding-left: 60px;
    }
  }
  .details {
    margin: auto;
  }
  .arrowContainer {
    text-align: center;
    font-size: 24px;
    margin-left: 160px;
  }
}

@media (min-width: 1024px) {
  .list {
    &__ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (min-width: 1400px) {
  .list {
    &__ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
