.details {
  margin-left: 60px;
  text-decoration: none;
  border: solid 3px #6aba68;
  height: 430px;
  width: 250px;
  margin-bottom: 25px;
  background-image: url("../../images/Selection_075.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  color: #35b1c8;
  line-height: 28px;
}
.arrowContainer {
  margin-top: 150px;
  text-align: end;
}

.arrowLink {
  margin-right: 65px;
  color: white;
}

@media (min-width: 768px) {
  .details {
    margin: auto;
  }
  .arrowContainer {
    text-align: center;
    font-size: 24px;
    margin-left: 160px;
  }
}
