.list {
  &__ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-flow: wrap;
    margin: auto;
  }
  &__link {
    color: #35b1c8;
    line-height: 28px;
  }
  &__element {
    height: 320px;
    width: 200px;
    text-decoration: none;
    border: solid 3px #6aba68;
    margin-bottom: 25px;
    background-color: black;
    margin-right: 30px;
  }
  &__fail {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .list {
    &__element {
      margin-bottom: 30px;
      text-decoration: none;
      border: solid 3px #6aba68;
      height: 400px;
      width: 250px;
      background-image: url("../../images/Selection_075.png");
      background-position: bottom;
      background-size: contain;
    }
    &__fail {
      font-size: 24px;
      padding-left: 60px;
    }
  }
}
