.list {
  &__ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-flow: wrap;
    margin: auto;
  }

  &__element {
    height: 320px;
    width: 200px;
    text-decoration: none;
    border: solid 3px #6aba68;
    margin-bottom: 25px;
    background-color: black;
    margin-right: 30px;
  }
  &__img {
    height: 180px;
    width: 194px;
    border-bottom: 3px solid #8beb78;
  }
  &__text {
    line-height: 28px;
    color: #35b1c8;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: normal;
    font-size: 22px;
    font-family: "Indie Flower", cursive;
  }

  &__fail {
    color: white;
    font-weight: bold;
    font-family: "Indie Flower";
    font-size: 20px;
    padding: 15px 5px;
  }
}

@media (min-width: 768px) {
  .list {
    &__element {
      margin-bottom: 30px;
      text-decoration: none;
      border: solid 3px #6aba68;
      height: 400px;
      width: 250px;
      background-image: url("../../images/Selection_075.png");
      background-position: bottom;
      background-size: contain;
    }
    &__img {
      height: 200px;
      width: 244px;
    }
    &__fail {
      font-size: 24px;
      padding-left: 60px;
    }
  }
}
