.list {
  &__ul {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding-left: 60px;
    margin-bottom: 30px;
  }
  &__link {
    color: #35b1c8;
    line-height: 28px;
  }
  &__element {
    height: 320px;
    width: 250px;
    margin-bottom: 30px;
    text-decoration: none;
    border: solid 3px #6aba68;
    height: 400px;
    width: 250px;
    margin-bottom: 25px;
    background-image: url("../../images/Selection_075.png");
    background-position: bottom;
    background-size: contain;
  }
  &__fail {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .list {
    &__ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__element {
      height: 320px;
      width: 250px;
      margin-bottom: 30px;
      text-decoration: none;
      border: solid 3px #6aba68;
      height: 400px;
      width: 250px;
      margin-bottom: 25px;
      background-image: url("../../images/Selection_075.png");
      background-position: bottom;
      background-size: contain;
    }
    &__fail {
      font-size: 24px;
      padding-left: 60px;
    }
  }
}

@media (min-width: 1024px) {
  .list {
    &__ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media (min-width: 1400px) {
  .list {
    &__ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
