.container {
  background-color: black;
  min-height: 430px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  &__linksBox {
    background-color: #46a54a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    border-radius: 10px;
  }

  &__link {
    cursor: pointer;
    text-align: center;
    background-color: black;
    width: 260px;
    margin: 25px 0;
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: "Indie Flower", cursive;
    border: 2px white solid;
    border-radius: 10px;
    padding: 5px;
  }
  &__link:hover {
    color: #fffdc7;
    border-color: #fffdc7;
  }
}
