.header {
  background-image: url(https://cdn.pastemagazine.com/www/articles/2019/05/15/RickandMortyS4-AdultSwim-Header.jpg);
  background-color: black;
  background-position: center;
  background-size: contain;
  margin: 0px;
  min-height: 200px;
  background-repeat: no-repeat;
  padding-bottom: 20px;
  &__title {
    font-size: 18px;
    text-align: center;
    font-family: "Indie Flower", cursive;

    color: white;
  }
}
@media (min-width: 768px) {
  .header {
    height: 350px;

    &__title {
      font-size: 35px;
      text-align: center;
      padding-top: 305px;
    }
  }
}
