.form {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__input {
    border: 2px solid #35b1c8;
    height: 28px;
    width: 210px;
    text-align: center;
    font-size: 16px;
  }
  &__select {
    width: 210px;
    margin-top: 10px;
    text-align: center;
    color: #35b1c8;
    font-size: 18px;
    border: 2px solid #35b1c8;
  }
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    margin-bottom: 60px;

    &__input {
      width: 250px;
      font-size: 20px;
      margin-left: 60px;
      margin-right: 30px;
    }
    &__select {
      margin-top: 0;
      width: 200px;
      font-size: 20px;
    }
  }
}
@media (min-width: 1024px) {
  .form {
    flex-direction: row;
    margin-top: 60px;

    &__input {
      width: 350px;
      font-size: 25px;
      margin-left: 60px;
      margin-right: 30px;
      height: 34px;
    }
    &__select {
      width: 230px;
      font-size: 25px;
    }
  }
}
