.footer {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 20px;
  border-top: solid 3px #6aba68;
  font-family: "Indie flower";
  font-weight: bold;
  font-size: 17px;
  &__button {
    color: white;
  }
  &__arrow {
    padding: 0px;
  }
  &__copy {
    color: white;
    text-align: end;
  }
}
