.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30px;
  padding: 15px 10px;
  border-top: solid 3px #6aba68;
  &__button {
    color: white;
  }
  &__arrow {
    padding: 0px;
  }
  &__copy {
    color: white;
    text-align: end;
    font-family: "Indie flower";
  }
}
