.sectionPagination {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  flex-flow: wrap;
  border-top: solid 3px #6aba68;

  &__button {
    color: #35b1c8;
    border: 2px solid #35b1c8;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    margin: auto;
    font-weight: bold;
    margin-top: 20px;
  }
  &__paragraph {
    color: white;
    font-size: 15px;
    margin-left: 100px;
    text-align: center;
  }
}
